<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>License plates - Dates</h1>
    <% Licences.forEach(element => { %>
       <h1>Plate: <%= element.plate %>  Date: <%= element.date %></h1>
    <% }) %>
</body>
</html>